<%- include("partials/header"); -%>

    <h1>About</h1>
    <p >
        The Crazy Coder is a website dedicated to all the programmers out there, who find their true happiness while coding. Our main aim is to provide useful resources to make programming more fun and easier. The website was founded by Sakshi Mittal on 23rd July 2020.</p> <p> The Crazy Coder provides free guides, articles and tutorials on different programming languages, Web Development, Android Development and so much more. All the content on the site is free of charge for our beloved readers.
     </p>
<%- include("partials/footer"); -%>
