<%- include("partials/header"); -%>

    <h1 >Contact</h1>
    <p>
        Liked our work? Have any suggestions or feedback? Feel free to contact us!
    </p>
    
    <div>
       <a href="https://github.com/sakshimittal27"><i class="fab fa-github social fa-5x social"></i></a> 
       <a href="https://www.linkedin.com/in/sakshi-mittal-661a4b197/"><i class="fab fa-linkedin fa-5x social"></i></a> 
       <a href="https://twitter.com/SakshiM12775462"><i class="fab fa-twitter fa-5x social"></i></a> 
      <a href="https://www.instagram.com/__sakshimittal__/"> <i class="fab fa-instagram fa-5x social"></i></a>
    </div>  
<%- include("partials/footer"); -%>
